.hero {
  height: 100vh;
  background: 
    linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
    url("../../assets/images/hero.png") center/cover no-repeat;

  position: relative;   
  overflow: hidden;     
}

.navbar {
  position: absolute;   
  top: 0;
  left: 0;
  width: 90%;
  padding: 20px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;        
  color: white;
}

.logo {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 2px;
}

.logo span {
  font-weight: 300;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 50px;
}

.navbar li {
  cursor: pointer;
  font-size: 20px;
  letter-spacing: 1px;
  transition: opacity 0.3s;
}

.navbar li:hover {
  color:#ff6b35;
}

.hero-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.subtitle {
  letter-spacing: 3px;
  font-size: 14px;
  margin-bottom: 15px;
}

.hero-content h1 {
  font-size: 64px;
  font-weight: 300;
  letter-spacing: 4px;
  margin-bottom: 30px;
  color: white;
}

.hero-btn {
  padding: 14px 35px;
  border: 1px solid white;
  background: transparent;
  color: white;
  letter-spacing: 2px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.hero-btn:hover {
  background: #ff6b35;
  color: black;
}

@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 40px;
  }
  .navbar ul {
    display: none;
  }
}



