.destinations { 
    padding: 80px 10%;
    text-align: center;
    background: linear-gradient(to right,  #f0f4f8, #d9e2ec); 
    padding-bottom: 4px;
}
.destinations h2 {
  font-size: 36px;
  margin-bottom: 50px;
  color: #333333;
  font-weight: 600;
  letter-spacing: 1px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    background: #ffffff;
    cursor: pointer;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    align-items: stretch;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card:hover { 
    transform: translateY(-10px) scale(1.03);
    box-shadow: 0 25px 40px rgba(0, 0, 0, 0.15);
}
.card img { 
    width: 100%; 
    height: 180px; 
    object-fit: cover; 
    transition: transform 0.4s ease;
}
.card:hover img {
  transform: scale(1.05);
}
.card h3 {
  font-size: 22px;
  margin: 15px 0 5px 0;
  color:#ff6b35;
}

.card p {
  font-size: 15px;
  color: #555555;
  margin-bottom: 15px;
  padding: 0 10px;
}

.card button {
  margin: 10px 15px 20px;
  padding: 6px 10px;
  font-size: 12px;
  border: 2px solid #ff6b35;
  background: transparent;
  color: #ff6b35;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.card button:hover {
  background: #ff6b35;
  color:  #ffffff; 
}