.contact-section {
  padding: 80px 10%;
  background: linear-gradient(to right, #f0f4f8, #d9e2ec);
  text-align: center;
}

.contact-section h2 {
  font-size: 34px;
  margin-bottom: 40px;
  color: #333;
}

.contact-form {
  max-width: 800px;
  margin: auto;
  background: #fff;
  padding: 50px 50px;
  border-radius: 20px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  display: flex;             
  justify-content: center;
  flex-direction: column; 
  align-items: center; 
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
  width: 100%;
  /* max-width: 600px; */
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 14px;
  transition: 0.3s;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #ff6b35;
}

.error {
  font-size: 12px;
  color: red;
  margin-top: 5px;
  display: block;
}

.contact-form button {
  width: 100%;
  /* max-width: 600px; */
  padding: 12px;
  background: #ff6b35;
  color: #fff;
  border: none;
  border-radius: 25px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.contact-form button:hover {
  background: #e85c2b;
}
